* {
 font-family: Helvetica;
 font-size: 12px;
}

h3 {
 font-size: 22px;
 text-align: center;
 width: 1000px;
 color: #42c583;
}

table {
 border: solid black 1px;
}


th {
 width: 60px;
 border: solid black 1px;
}

td {
 text-align: center;
 height: 30px;
 border: solid black 1px;
}
